<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <title>网</title>
    <meta name="keywords" content="bootstrap,html,css,javascript"/>
    <meta name="description" content=""/>
    <link href="" rel="shortcut icon" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/icomoon/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/new.css"/>


</head>
<noscript unselectable="on" id="noscript">
    <div class="aw-404 aw-404-wrap container">
        <img src="http://wenda.bootcss.com/static/common/no-js.jpg">
        <p>你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!</p>
    </div>
</noscript>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Carousel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/login">登陆</a>
                </li>
            </ul>

        </div>
    </nav>
</header>
<main role="main">
    <div class="container-fluid container-wrap">
        <div class="container">
            <div class="row content-wrap">
                <div class="col-md-9 col-sm-12 main-content">
                    <ul class="nav nav-tabs tabs-links">
                        <h2 class="d-xs-none"><i class="icon icon-list2"></i> 发现</h2>
                        <a href="/post" class="btn btn-primary"
                           style="position: absolute;right:20px;top:16px"
                        >发帖</a>
                    </ul>
                    <div class="p-3">
                        <div class="mod-body">
                            <div class="mod-list">
                                {% for topic in data["topics"] %}
                                <div class="mod-item">
                                    <a class="user-img"
                                       href="#" rel="follow"><img
                                            src="/static/avatar-max-img.png"
                                            alt="">
                                    </a>
                                    <div class="question-content">
                                        <h4>
                                            <a href="detail/{{topic.id}}">{{topic.title}}</a>
                                        </h4>
                                        {%if current_user%}
                                        <a href="detail/{{topic.id}}#!answer_form"
                                           class="float-right text-secondary">回复</a>
                                        {%end%}

                                        <p>
                                            <a href="#" class="user-name">{{topic.user.name}}</a>
                                            <span class="text-secondary">发起了问题  • {{len(topic.comments)}} 个回复 • 84 次浏览 • 2018-11-06 00:26
				                            </span>
                                            <span class="text-secondary related-topic hide"></span>
                                        </p>

                                    </div>
                                </div>
                                {% end %}
                            </div>
                            <nav aria-label="Page navigation" class="float-right mt-3">
                                <ul class="pagination">
                                {% for p in data["count"] %}
                                    {% if p == data["page"] %}
                                        <li class="page-item active"><a class="page-link" href="/?page={{p}}">{{p+1}}</a></li>
                                     {%else%}
                                        <li class="page-item"><a class="page-link" href="/?page={{p}}">{{p+1}}</a></li>
                                    {% end %}
                                {% end %}
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 side-content d-xs-none">
                    <ul class="list-group list-group-flush" id="hotMessage">
                        <li class="list-group-item active"><i class="icon icon-heart mr-3"></i>最新话题</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</main>

<a class="aw-back-top d-xs-none" href="javascript:;" onclick="$('html,body').animate({scrollTop:0},'slow');"><i
        class="icon icon-link"></i></a>


<script src="static/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/template-web.js"></script>
<script id="news-template" type="text/html">
        <li class="list-group-item active">
            <h1 style="font-size: 24px"><i class="icon icon-heart mr-3"></i>最新话题</h1>
        </li>
        <% for(var i=0;i<target.length;i++){ %>
            <li class="list-group-item">
                <h5 class="w-100" style="overflow: hidden">
                    <a href="/detail/<%= target[i].id  %>">
                        <%= target[i].title  %>
                    </a>
                </h5>
                <small class="text-muted float-right"><%= target[i].create_date  %></small>
            </li>
        <% } %>

</script>
<script>
    $.get("/newTopic", function(res){
        let _res = JSON.parse(res)
        if(_res.state == 1){
           let html = template("news-template", {target:_res.news});
            document.getElementById('hotMessage').innerHTML = html;
        }
    })

</script>
</body>
</html>